.sign-btn{
    font-size: 50px;
    background-color:#b3ffb3;
    border: solid 4px;
    color: #2db300;
    font-style: italic;
    padding: 10px;
    border-radius: 30px;
    margin: 50PX;
}

.log-btn{
    font-size: 50px;
    background-color:#b3d1ff;
    border: double 4px;
    color:#0066ff;
    padding: 10px;
    border-radius:0px 40px 0px 40px;
    margin: 50PX;
}

.login-btn{
    font-size: 50px;
    background-color: #ff99cc;
    border: dotted 4px;
    color: #e60073;
    padding: 10px;
    border-radius:40px 0px 40px 0px;
    margin: 50PX;
}

.clk-btn{
    font-size: 50px;
    background-color:#b3ffff;
    border: dashed 3px;
    color:#00cccc;
    padding: 10px;
    border-radius:80px ;
    margin: 50PX;
}