.sign-btn{
    font-size: 50px;
    background-color:#b3ffb3;
    border: solid 4px;
    color: #1b6503;
    font-style: italic;
    padding: 10px;
    border-radius: 30px;
    margin: 50PX;
}

.log-btn{
    font-size: 50px;
    background-color:#b3d1ff;
    border: double 4px;
    color:#043b8e;
    padding: 10px;
    border-radius:0px 40px 0px 40px;
    margin: 50PX;
}

.login-btn{
    font-size: 50px;
    background-color: #f7b0d3;
    border: dotted 4px;
    color: #e60073;
    padding: 10px;
    border-radius:40px 0px 40px 0px;
    margin: 50PX;
}

.clk-btn{
    font-size: 50px;
    background-color:#c0f3f3;
    border: dashed 3px;
    color:#057c7c;
    padding: 10px;
    border-radius:80px ;
    margin: 50PX;
}

.sub-btn{
    font-size: 50px;
    background-color:#e6ccff;
    border: solid 3px;
    color:#7300e6;
    padding: 10px;
    border-radius:50px 0px 50px 0px ;
    margin: 50PX;
}